@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Josefin+Sans&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand&display=swap');
/* 
font-family: 'Arimo', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; 
*/

body{
    font-family: 'Arimo', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: rgb(73, 73, 73);
    color: whitesmoke
}
header{
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(34, 34, 80);
}
main{
    padding: 10px;

}

a{
    text-decoration: none;
    color: orange;
    transition-duration: .2s ;
}

a:hover{
    color: greenyellow;
}