@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Josefin+Sans&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand&display=swap');
/* 
font-family: 'Arimo', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif; 
*/

body{
    font-family: 'Arimo', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: rgb(73, 73, 73);
    color: whitesmoke
}
header{
    position: sticky;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(34, 34, 80);
    height: 97.5%;
    top: 0;
    box-shadow: 3px 3px 6px 0px #00000045;
}
main{
    padding: 10px;

}

a{
    text-decoration: none;
    color: orange;
    transition-duration: .2s ;
}

a:hover{
    color: greenyellow;
}

summary{
    outline: none;
}

.tweetBox{
    background-color: rgb(75, 75, 138);
    border: 1px solid black;
    box-shadow: 3px 3px 6px 0px #00000045;
    min-width: 400px;
    max-width: 450px;
    box-sizing: border-box;
}

.tweetBoxHeader{
    background-color: rgb(75, 75, 138);
    padding: 5px ;
}
.tweetBoxBody{
    background-color: rgb(58, 57, 57);
    padding: 10px 7px 10px 7px;
    font-size: 20px;
    box-shadow: inset 3px 3px 6px 0px #0000001f;
}

.tweetBoxFooter{
    background-color: rgb(75, 75, 138);
    padding: 5px;
    font-size: 13px;
    text-align: right;
}