{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div id="titleBox">
    <h1>{{heading}}</h1>

    {% if logging_in %}
    <h3> Not a current user? <a href="/signup">Signup!</a></h3>
    {% elif signing_in %}
    <h3> Already a current user? <a href="/login">Login!</a></h3>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit!">
    </form>
</div>

<h5><a href="/">Back to Homepage</a></h5>