{% extends 'base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
<a href="/users/{{request.user.username}}">Go to your Page</a>
<br>
<a href="/posttweet">Post a new Tweet</a>
{% endif %}


{% if recent_page %}
<br>
<a href="/">See Followers tweets</a>
{% else %}
<br>
<a href="/recenttweets">See 10 most recent tweets</a>
{% endif %}

<ul>
    {% for tweet in tweet_list %}
    <div class="tweetBox">
        <div class="tweetBoxHeader">
            <strong><a href="/users/{{tweet.post_user.username}}">@{{tweet.post_user.username}} |
                    {{tweet.post_user.display_name}} </a>
            </strong>
        </div>
        <div class="tweetBoxBody">
            <a href="/tweet/{{tweet.id}}">{{tweet.message}} </a>
        </div>
        <div class="tweetBoxFooter">
            {{tweet.date_posted}}
        </div>
    </div>
    <br>
    {% endfor %}
</ul>
{% endblock %}