{% extends 'base.html' %}
{% block content %}


{% if not new_notifications %}
<p>No notifications</p>
{% if request.path != "/notifications/old" %}
<a href="/notifications/old">Want to see old notifications?</a>
{% endif %}
{% endif %}

<ul>
    {% for notify in new_notifications %}

    <li> <a href="/tweet/{{notify.tweet.id}}">{{notify.tweet.message}} </a> <br> <strong><a
                href="/users/{{notify.tweet.post_user.username}}">{{notify.tweet.post_user.username}}</a> |
            {{notify.tweet.date_posted}} </strong> </li>
    <br>
    {% endfor %}
</ul>

{% endblock %}