{% extends 'base.html' %}
{% block content %}
<p>Here's {{user.username}} </p>

<p>Following: {{followers.count}} </p>

{% if follower.count > 0 %}
<details>
    <summary>Users Following</summary>
    {% for follower in followers %}
    <li><a href="/users/{{follower}}">{{follower.username}}</a></li>
    {% endfor %}
</details>

<br>
{% endif %}

{% if request.user == user %}
<a href="/posttweet">Post a Tweet</a>
{% endif %}
{% if request.user != user and request.user.is_authenticated %}
{% if is_followed %}
<a href='/follow/{{user}}'>Unfollow</a>
{% else %}
<a href='/follow/{{user}}'>Follow</a>
{% endif %}
{% endif %}

<p>Tweets: {{tweets.count}} </p>
<ul>
    {% for tweet in tweets %}

    <li> <a href="/tweet/{{tweet.id}}">{{tweet.message}} </a> <br> <strong>
            {{tweet.date_posted}} </strong> </li>
    <br>
    {% endfor %}
</ul>

{% endblock %}